* {
  padding: 0;
  margin: 0;
}

.container{ 
  width: 100%;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 40%;
  border: 2px solid rgb(11, 9, 61);
  padding: 20px;
}

fieldset div{
  margin-bottom: 10px;
}

fieldset label{
 display: inline-block;
 width: 150px;
}

fieldset input{
  width: 150px;
  padding: 5px;
 }

 fieldset button{
  background-color: blue;
  padding: 5px;
  color: white;
  margin: 5px;
  width: 150px;
  border: none;
  border-radius: 5px;
}

fieldset legend{
  text-align: center;
  font-weight: bold;
}